body {
     background-image: url("../images/ucl.jpg");
     color: white;
}

.rating {
    float: left;
    text-align: center;
}

p {
    padding: 3px;
    float: left;
    text-align: center;
}

img {
    margin: 4px;
    padding: 10px;
    clear: both;
    
}

#gif-container {
    float: left;
}

#add-item-container {
    float: right;
}

.topic {
    margin: 3px;
}

